body {
    background: linear-gradient(to bottom right, #debc12, #e04f7f);
    margin: 0;
    height: 100vh; 
    background-size: cover;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #bc2727;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-list li {
    flex: 1;
  }
  
  .navbar-list li a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
  }
  
  .navbar-list li a:hover {
    background-color: #555;
  }
  
  /* Content styles */
  .content {
    margin-top: 50px; /* Adjust margin to avoid content overlapping with navbar */
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  
    
